body > .dialog-content {
    display: none;
}

#info-box {

    pointer-events: none;
    padding: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    border: none;
}

#info-box[open] {
    background: none;
    display: block;
}

#info-box[open] > .info-bg {
    pointer-events: none;
    z-index: 10;
    position: fixed;
    animation: fadeBg .2s forwards;
    width: 100%;
    height: 100%;
    background: black;

}

#info-box[open] > #info-body {
    pointer-events: all;
    padding: 3rem;
    z-index: 11;
    position: fixed;
    background: #fff;
    width: 60%;
    height: 80%;
    animation: fadeBody .2s forwards;
    left: 20%;
    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#info-body .heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.25rem solid #eee;
}

#info-body .centered-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.25rem solid #eee;
    text-align: center;
}

.delete-projs-btn {
    background-color: #ddd;
    border: none;
    border-radius: 1rem;
    transition: color .2s, background-color .2s, font-size .2s;
    margin: 0 auto;
    padding: 1rem;
    align-items: center;
    font-weight: bold;
    gap: 2ch;
    cursor: pointer;
}
.delete-projs-btn iconify-icon {
    font-size: 1.5rem;
}

.delete-projs-btn:hover {
    color: #fff;
    background: red;
    font-size: 1.5rem;
}


@media only screen and (max-width: 600px) {
    #info-box[open] > #info-body {
        width: 90%;
        left: 5%;
    }

    #info-body .heading {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.25rem solid #eee;
    }
}

@keyframes fadeBg {
    from {
        opacity: 0%;
    }
    to {
        opacity: 30%;
    }
}


@keyframes fadeBody {
    from {
        top: 100%;
    }
    to {
        top: 10%;
    }
}

